<a href="https://colab.research.google.com/github/Ravindra-Pandi/FML/blob/main/Copy_of_UnivariateL1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import linear_model
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/Company_data.csv")
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [ ]:
X = data.drop('Sales', axis=1).values
y = data['Sales'].values

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [ ]:
X_train.shape, X_test.shape

((150, 3), (50, 3))

In [ ]:
reg = Lasso(alpha = 0.5)
reg.fit(X_train, y_train)

Lasso(alpha=0.5)

In [ ]:

from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error
y_pred1 = reg.predict(X_train)
print(f'MAE= {mean_absolute_error(y_train , y_pred1)}')

MAE= 1.2910770568157197

In [ ]:
print(f'MSE= {mean_squared_error(y_train , y_pred1)}')

MSE= 2.8365507068869014

In [ ]:
print(f'RMSE= {np.sqrt(mean_squared_error(y_train , y_pred1))}')

RMSE= 1.6842062542595255

In [ ]:
print(f'R_2 = {r2_score(y_train, y_pred1)}')

R_2 = 0.895728105380798

In [ ]:
reg.score(X_test, y_test)

0.9110829589170029